body
{
	font-family: arial, sans_serif;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 23px;
    font-size: 13px;

}

nav li 
{
    margin-left: 18px;
    margin-top: 13px;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover
{
    color: black;
	text-decoration: underline;
}

.styled
{
	color: white;
	background-color: #4285f4;
	border: 1px solid #4285f4;
	font-weight: bold;
	font-size: 13px;
	height : 30px;
	width: 95px;
	margin-top: -100px;
	border-radius: 2px;
	cursor: pointer;
}


.bouton
{
	width: 20px;
	margin-top: -2px;
	cursor: auto;
}


#all {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 500px;
  
}

#logo {
    margin-bottom: 20px;
    height: 100px;
}

#icons {
    width: 550px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #D3D3D3;

}

#icons:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#loupe {
    float: left;
    position: relative;
    padding-top: 2%;
    margin-left: 2%;
}

#mic {
    float: right;
    position: relative;
    padding-top: 2%;
    margin-right: 2%;
}

#buttons {
    height: auto;
    width: auto;
    padding-top: 30px;

}

.style {
    border: 0;
    line-height: 2;
    padding: 5px 20px;
    text-align: center;
    color: rgb(67,70,73);
    border-radius: 3px;
    background-color: rgb(245,246,247);
    font-family: arial, sans_serif;
    font-size: 15px;


    }

#paragraphe {
    text-align: center;
    
}
#judge {
    color: rgb(98, 96, 194);
    border: solid 0.5px black;
    padding: 2px 2px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
}

#dispo {
    font-size:12px;
}

a:link { 
 text-decoration: none; 
} 
a:hover {
    text-decoration: underline;
}

input:hover {
    border: solid 1px grey;
    box-shadow: 1px 1px 1px #DCDCDC;
    cursor: pointer;
}

#icons:hover {
    cursor: text;
}

.styled
{
    color: white;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    font-weight: bold;
    font-size: 13px;
    height : 30px;
    width: 95px;
    margin-top: -100px;
    border-radius: 2px;
    cursor: pointer;
}


.bouton
{
    width: 20px;
    margin-top: -2px;
    cursor: auto;
}

footer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position:absolute;
    bottom:0;
    width:100%;
    color: gray;
    text-decoration: none;
}

#bot1
{
    background-color: #f2f2f2;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    margin-left: -1%;
    height: 40px;
}

#bot1 p
{
    margin-left: 25px;
}

#bot2 ul
{
    margin-left: 2px;
}
#bot2
{
    color: gray;
    text-decoration: none;
    background-color: #f2f2f2;
    text-align: center;
    margin-left: -5%;
    height: 45px;
    margin-bottom: 0px;
    text-align: justify;
}



footer .feuille
{
    width: 15px;
    padding-right: 5px;
}

ol {
    display: inline-block;
    margin-left: 1px;
    font-size: 13px;
    margin-top: -5px;
}

a:link {
    text-decoration: none;
    color : grey;
}
a:hover {
    text-decoration: underline;
}

footer {
    margin-left: 0;
}

#test {
    margin: 0px 50px;
}